<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loveplusplus.zhengzhou"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/about" />
        <activity android:name=".ui.GpsWaitingActivity" android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.NotifyDetailActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".ui.StationsActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.loveplusplus.zhengzhou.ui.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


        <provider
            android:name=".provider.BusProvider"
            android:authorities="com.loveplusplus.zhengzhou.provider.BusProvider"
            android:exported="false" />

        <service android:name=".io.TaskService" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.SearchActivity" />
    </application>

</manifest>